.formulaire{
    display: flex;
    flex-direction: column;
    width: 659;
    height: 248;
    top: 232px;
    left: 304px;
    gap: 10px;

}
.form-champ{
    width: 659;
    height: 46;
    opacity: 1;
    gap: 10px;
    border-radius: 6px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 20px;

}
.label{
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;

}