{% extends 'base.html.twig' %}

{% block title %}Course Period List
{% endblock %}

{% block body %}
	<div>
		{% include "Components/sidebar.html.twig" %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">{{ message }}</div>
		{% endfor %}
		{{ include('admin/form/form_course_period.html.twig', { 'form': form }) }}

		<a href="{{ path('app_view_schoolyear', {'id': coursePeriod.schoolYear.id}) }}" class="px-4 py-2.5 text-black bg-slate-200 font-medium text-base rounded-xl">Retour à la liste</a>
		{{  include('course_period/delete_course_period.html.twig') }}
	</div>
{% endblock %}
