{% extends 'base.html.twig' %}

{% block title %}Course Period List
{% endblock %}

{% block body %}
	{{ include('admin/form/form_course_period.html.twig', { 'form': form }) }}

	<a href="{{ path('app_view_schoolyear', {'id': coursePeriod.schoolYear.id}) }}" class="btn btn-secondary">Retour à la liste</a>
	{{  include('course_period/delete_course_period.html.twig') }}
{% endblock %}
