{% extends 'base.html.twig' %}

{% block title %}Modification Interventions
{% endblock %}

{% block body %}
	<div>
		{% include "Components/sidebar.html.twig" %}
		<h1>Modififier une intervention</h1>
		<h2>Remplissez les informations ci-dessous.</h2>

		{{ include("admin/form/form_course.html.twig") }}
		<a href="{{ path('app_calendar_calendar') }}" class="btn">
			Annuler
		</a>
	</div>
{% endblock %}
