{% extends 'base.html.twig' %}

{% block title %}Add School Year
{% endblock %}

{% block body %}
	<div>
		{% include "Components/sidebar.html.twig" %}

		<h1>Ajouter une année scolaire</h1>
		{{ include("admin/form/form_schoolyear.html.twig") }}

		<a href="{{ path('app_schoolyears') }}" class="btn">
			Retour à la liste
		</a>
	</div>
{% endblock %}
