{% extends 'base.html.twig' %}

{% block title %}Années scolaires
{% endblock %}

{% block body %}
	<div>
		<h2>Années scolaires</h2>
		<a href="{{ path('app_add_schoolyear') }}">Ajouter une année</a>
	</div>


	<h2>Filtres</h2>


	<div class="table-wrapper">
		<table class="interventions-table">
			<thead>
				<tr>
					<th>Année promotion</th>
					<th>Saison</th>
				</tr>
			</thead>
			<tbody>
				{% for schoolYear in schoolYears %}
					<tr>
						<td>{{ schoolYear.name }}</td>
						<td>{{ schoolYear.startDate|date('d/m/Y') }}/{{ schoolYear.endDate|date('d/m/Y') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
