{% extends 'base.html.twig' %}

{% block title %}Ajout Module
{% endblock %}

{% block body %}
	<div>
		{% include "Components/sidebar.html.twig" %}
		<button class="btn">
			<a href="{{ path('app_modules') }}">X</a>
		</button>
		<h1>Ajouter un module</h1>
		{{ include("admin/form/form_module.html.twig") }}

		<a href="{{ path('app_modules') }}" class="btn">
			Annuler
		</a>
	</div>
{% endblock %}
