{% extends 'base.html.twig' %}

{% block title %}Modules
{% endblock %}


{% block body %}
	<div>
		{% include "Components/sidebar.html.twig" %}
		{% include 'module/module_block.html.twig' %}
	</div>
{% endblock %}
