{% extends 'base.html.twig' %}

{% block title %}Fiche Module
{% endblock %}

{% block body %}
	<div class="flex items-center w-full h-full">
		{% include "Components/sidebar.html.twig" %}
		<div class="h-full mt-32 mx-24">
			<h1 class="text-blue-950 text-3xl font-medium mb-6">Modifier un module</h1>
			{{ include("admin/form/form_module.html.twig") }}
		</br>
		<div class="flex flex-row">
			<a href="{{ path('app_modules') }}" class="px-4 py-2.5 text-black bg-slate-200 font-medium text-base rounded-xl mr-3">
				Annuler
			</a>
			{{  include('module/delete_module.html.twig') }}
		</div>
	</div>
</div>{% endblock %}
