{% extends 'base.html.twig' %}

{% block title %}Fiche Enseignant
{% endblock %}

{% block body %}
	<div>
		{% include "Components/sidebar.html.twig" %}
		<h2></h2>
		<p>Modules enseignés</p>

		{% for row in Module %}
			<p>
				Module.nom
			</p>
			<p>
				Module.temps
			</p>
			<p>
				Module.nbRestants
			</p>
		{% endfor %}
	</div>
{% endblock body %}
