<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script>
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    timeZone: 'UTC+1',
                    initialView: 'timeGridWeek',
                    slotMinTime: "08:00:00",
                    slotMaxTime: "19:00:00",
                    firstDay: 1,
                    headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    events: {
                        url: '{{ path("twig_calendar_events") }}'
                    },
                    eventContent: function(arg, createElement){
                        console.log(arg.extendedProps);
                        var innerText;

                        innerText = '<div>Loading...</div>';

                        return createElement('i', {}, innerText)
                    }

                    });

                calendar.render();

            });
    </script>
    </head>
    <body>
        {% block body %}
            <h1>
                {% block body_title %}
                    CONTENU DE LA BASE.HTML.TWIG
                {% endblock %}
            </h1>
            {% block body_content %}
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur atque autem culpa deleniti enim eum, iure laboriosam minima, nam numquam possimus provident quaerat ratione reprehenderit sapiente sit vero voluptatum?</div>
            {% endblock %}
        {% endblock %}
    </body>
</html>
