{% extends 'base.html.twig' %}

{% block title %}Interventions{% endblock %}

{% block header %}
    <img src= "">
{% endblock %}
{% block body %}
    <div>
        <h2>Interventions</h2>
        <a href = "">Ajouter une nouvelle intervention</a>
    </div>
    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}
