<div class="bg-slate-200 h-full w-fit px-12 mt-0 pt-0">
	<div class="flex items-center mt-10">
		<img class="w-6 h-auto mr-1" src="{{ asset('img/logo.png') }}">
		<div>
			<h1 class="font-bold text-blue-950 text-xs">Lycée Saint-Vincent</h1>
			<h2 class="font-bold text-blue-950 text-xs">Enseignement supérieur</h2>
		</div>
	</div>
</div>
