<div>
    <img src="../img/logo.png" alt="test">
    <div>
        <h1>Lycée Saint-Vincent</h1>
        <h2>Enseignement supérieur</h2>
    </div>
</div>

<nav class="sidebar">
    {% for section in this.menuStructure %}
        <h3 class = "Sidebar font-[Poppins] font-normal text-[11px] leading-[11px] tracking-[1px] text-[#082431]">{{ section.titre }} </h3>

        <ul>
            {% for lien in section.liens %}
                <li class = "Sidebar " >
                    <a href="">

                        <span class=" "></span>
                        {{ lien.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</nav>

{% if is_granted('ROLE_ADMIN') %}
    <div class="">
        <div class="">
            <img src="../img/photo.png" />
                </div>
            <div class="">

        </div>
</div>
{% endif %}

